#login{
  background-color: #142f42;
  color: #fff;
}


@media (min-width: 200px) and  (max-width: 991px) {

.login_image{
  padding-left: 10%;
}


}

@media (min-width: 768px){
  .login_image{
    margin-left: 10%;
  }
}